{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>form geldi</h3>
                    <h1>Form</h1>
                    {{ form }}
                     <input class="btn btn-primary" type="submit" value="Giriş Yap">

                </form>

            </div>

        </div>
    </div>
{% endblock %}