{% extends 'news/base.html' %}
{% block title%}
    Şirket Haberleri
{% endblock %}
{% block content %}
{#    <iframe name="iFrame1" width=720 height=700 src="https://www.borsagundem.com/haber/gunun-onemli-sirket-haberleri-11032021/1555201" scrolling="yes" frameborder="1" sandbox="allow-forms"></iframe>#}
{#    <iframe name="iFrame1" width=720 height=700 src="https://www.kap.org.tr/tr/" scrolling="yes" frameborder="1"></iframe>#}
{#    <h6>içerik </h6>#}
{#    {% for haber in haberler %}#}
{##}
{#        {{ haber.html_content |safe }}#}
{##}
{#    {% endfor %}#}


{% endblock %}
