    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Haber Bot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/news/borsa"> Borsa <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news/gundem"> Gündem </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/news/yasam"> Yaşam </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Haber Kaynakları</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <ul>
                    <li>
                        <input class="form-check-input" type="checkbox" value="haberturk" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">haberturk.com
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="yenisafak" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">yenisafak.com
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="dunya" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">dunya.com
                          </label>
                    </li>
                    <li><button type="button" id="category-selector">Düzenle</button> </li>
                </ul>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Kategoriler</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <ul>
                    <li>
                        <input class="form-check-input" type="checkbox" value="ekonomi" id="category">
                          <label class="form-check-label" for="defaultCheck1">Ekonomi
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="gundem" id="category">
                          <label class="form-check-label" for="defaultCheck1">Gündem
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="turkiye" id="category">
                          <label class="form-check-label" for="defaultCheck1">Türkiye
                          </label>
                    </li>
                </ul>

            </div>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger ml-4" type="button" id="run-bot" > Botu Çalıştır </button>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
